@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
:root {
  width: 100%;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 93%; }

.terms_menu {
  background-color: #092234;
  padding-left: 20px; }
  .terms_menu ul {
    margin: 0; }
  .terms_menu li {
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif; }
    .terms_menu li:hover {
      background-color: #1e2c3e; }
  .terms_menu a {
    color: #eee; }

header {
  background-color: #1e2c3e;
  width: 100%;
  height: 200px; }
  header .brand-logo {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 40px;
    color: #eee; }
  header .header_ads {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 720px;
    height: 90px;
    background-color: #092234; }

.nav_menu {
  height: 50px;
  position: relative;
  margin-top: -70px;
  background-color: #1e2c3e;
  border: 1px solid #092234;
  display: flex; }
  .nav_menu .menu_trigger {
    color: white;
    padding-top: 5px;
    display: none; }
    .nav_menu .menu_trigger:hover {
      background-color: #092234; }
    .nav_menu .menu_trigger i {
      font-size: 40px; }
  .nav_menu .nav_bar_menu .main_menu {
    margin: 0; }
  .nav_menu .nav_bar_menu li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    transition: all 0.5s;
    cursor: pointer; }
    .nav_menu .nav_bar_menu li:hover {
      background-color: #092234; }
  .nav_menu .nav_bar_menu a {
    color: #eeeeee; }
  .nav_menu form {
    position: absolute;
    right: 10px;
    display: flex; }
    .nav_menu form input[type=search] {
      width: 220px;
      height: 45px;
      border: none;
      background-color: #092234;
      color: #eeeeee;
      padding-left: 20px;
      transition: all 0.5s; }
      .nav_menu form input[type=search]:focus {
        background-color: #eeeeee;
        color: #333;
        border: none; }
    .nav_menu form input[type=submit] {
      height: 45px;
      background-color: #092234;
      border: none;
      outline: none;
      margin-left: 2px;
      color: #eeeeee;
      cursor: pointer; }
      .nav_menu form input[type=submit]:hover {
        background-color: #2f4460; }

.go-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: #092234; }

.btn-floating, .btn-floating-large, .btn-floating-small {
  background-color: #092234; }

.btn-floating:hover, .btn-floating-large:hover, .btn-floating-small:hover {
  background-color: #113e5f; }

.btn-floatingbtn:focus, .btn-floating-large:focus, .btn-floating-small:focus, .btn-floating:focus {
  background-color: #05141e; }

main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 10px; }
  main .post_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%; }
    main .post_box .post_content {
      max-width: 450px;
      margin: 10px 5px 0 0; }
      main .post_box .post_content p {
        margin: 0;
        display: inline-block;
        color: #aaa;
        padding: 5px 0; }
        main .post_box .post_content p:last-child {
          padding-left: 20px; }

main .sidebar {
  margin-top: 10px;
  padding: 0 5px;
  width: 330px; }
  main .sidebar h4 {
    background-color: #1e2c3e;
    text-align: center;
    color: #eee;
    padding: 10px 0;
    margin: 0; }
  main .sidebar .box ul {
    margin: 0; }
  main .sidebar .box li {
    display: inline-block;
    padding: 10px 5px;
    background-color: #092234; }
  main .sidebar .box a {
    color: #eee; }
  main .sidebar .box2 {
    margin-top: 20px; }
    main .sidebar .box2 ul {
      margin: 0; }
    main .sidebar .box2 li {
      font-size: 20px;
      color: #eee;
      padding: 10px; }
      main .sidebar .box2 li:nth-child(1) {
        background-color: crimson; }
      main .sidebar .box2 li:nth-child(2) {
        background-color: royalblue; }
      main .sidebar .box2 li:nth-child(3) {
        background-color: deepskyblue; }
      main .sidebar .box2 li:nth-child(4) {
        background-color: red; }

footer {
  position: relative;
  top: 30px;
  width: inherit;
  background-color: #092234;
  padding: 30px 0; }
  footer #widget_area {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #widget_area .box {
      color: #eee;
      margin: 0 10px; }
  footer p {
    text-align: center;
    color: #eee; }
  footer .profile {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    width: 200px;
    background-color: #1e2c3e;
    display: none; }
    footer .profile img {
      width: 100%;
      height: auto; }

@media (max-width: 1000px) {
  .nav_menu .menu_trigger {
    display: block; }
  .nav_menu .nav_bar_menu {
    position: absolute;
    top: 48px;
    width: 100%;
    display: none;
    z-index: 100; }
    .nav_menu .nav_bar_menu .main_menu {
      background-color: #1e2c3e; }
      .nav_menu .nav_bar_menu .main_menu li {
        text-align: left;
        display: block; } }

/*# sourceMappingURL=style.css.map */
